<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenerateHTML</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="p-3 mb-4 bg-primary rounded-3">
        <div class="h-100 p-3 text-white text-center">
          <h1>Welcome To Your Team</h1>
        </div>
      </div>
    </header>

    <!-- <div class="container"> -->
    <!-- <div class="container"> -->
    <div class="row">
      <!-- Manager -->
      <div class="col-12 col-md-3 offset-md-1 border">
        <div class="bg-secondary p-3 header">
          <h2>Name</h2>
          <h3>role</h3>
        </div>
        <div class="bottom">
          <p>id</p>
          <p>office</p>
          <a href="mailto:${member.email}" class="card-link emailLink">email</a>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="col-12 col-md-1"></div> -->
      <!-- <div class="container"> -->
      <!-- <div class="row"> -->
      <!-- Engineer -->
      <div class="col-12 col-md-3 offset-md-1 border">
        <div class="bg-success p-3 header">
          <h2>Name</h2>
          <h3>role</h3>
        </div>
        <div class="bottom">
          <p>id</p>
          <a>gitub</a><br /><br />
          <a href="mailto:${member.email}" class="card-link emailLink">email</a>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="col-12 col-md-1"></div> -->
      <!-- <div class="container"> -->
      <!-- <div class="row"> -->
      <!-- Intern -->
      <div class="col-12 col-md-3 offset-md-1 border">
        <div class="bg-info p-3 header">
          <h2>Name</h2>
          <h3>role</h3>
        </div>
        <div class="bottom">
          <p>id</p>
          <p>school</p>
          <a href="mailto:${member.email}" class="card-link emailLink">email</a>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!-- </div> -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- Manager -->
    <div class="container d-flex justify-content-center flex-wrap:wrap">
      <div class="p-3 m-3 border" style="width: 20rem">
        <div class="bg-secondary p-3">
          <h2>Name</h2>
          <h3>role</h3>
        </div>
        <div>
          <p>id</p>
          <p>office</p>
          <a href="mailto:${member.email}" class="card-link emailLink">email</a>
        </div>
      </div>
    </div>

    <div class="container-md">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Engineer -->
        <div class="container d-flex justify-content-center">
          <div class="p-3 m-3 border" style="width: 20rem">
            <div class="bg-success p-3">
              <h2>Name</h2>
              <h3>role</h3>
            </div>
            <div>
              <p>id</p>
              <a>github</a><br />
              <a href="mailto:${member.email}" class="card-link emailLink"
                >email</a
              >
            </div>
          </div>
        </div>

        <!-- Intern -->
        <div class="container d-flex justify-content-center">
          <div class="p-3 m-3 border" style="width: 20rem">
            <div class="bg-info p-3">
              <h2>Name</h2>
              <h3>role</h3>
            </div>
            <div>
              <p>id</p>
              <p>school</p>
              <a href="mailto:${member.email}" class="card-link emailLink"
                >email</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-md d-flex justify-content-center" id="manager">
      <div class="card shadow" style="width: 20rem">
        <div class="card-header" id="managerHeader">
          <h2 class="card-title" id="managerName">${member.name}</h2>
          <h3 class="card-subtitle mb-2 text-muted">
            <i class="fas fa-users"></i> ${member.role}
          </h3>
        </div>
        <div class="card-body bodyBackground">
          <p class="card-text">Employee ID: ${member.id}</p>
          <p class="card-text">Office Number: ${member.officeNumber}</p>
          <a href="mailto:${member.email}" class="card-link emailLink"
            >Email: ${member.email}</a
          >
        </div>
      </div>
    </div>

    <!--                                                            -->
    <div class="container-md d-flex justify-content-center" id="manager">
      <div class="card shadow" style="width: 20rem">
        <div class="card-header" id="managerHeader">
          <h2 class="card-title" id="managerName">First Lase</h2>
          <h3 class="card-subtitle mb-2 text-muted">
            <i class="fas fa-users"></i> Manager
          </h3>
        </div>
        <div class="card-body bodyBackground">
          <p class="card-text">Employee ID: 1341234</p>
          <p class="card-text">Office Number: 12341234</p>
          <a href="mailto:manager@company.com" class="card-link emailLink"
            >Email: manager@company.com</a
          >
        </div>
      </div>
    </div>
    <div class="container-md">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-3 mb-3" id="engineer">
          <div class="card shadow h-100">
            <div class="card-header" id="engineerHeader">
              <h4 class="card-title">First1 Last1</h4>
              <h5 class="card-subtitle mb-2 text-muted">
                <i class="fas fa-laptop-code"></i> Engineer
              </h5>
            </div>
            <div class="card-body bodyBackground">
              <p class="card-text">Employee ID: 123</p>
              <a href="mailto:engineer@company.com" class="card-link emailLink"
                >Email: engineer@company.com</a
              >
              <div class="mt-3">
                <a
                  href="https://github.com/username"
                  class="btn btn-primary buttonFormat"
                  target="_blank"
                  >GitHub Profile</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col mt-3 mb-3" id="engineer">
          <div class="card shadow h-100">
            <div class="card-header" id="engineerHeader">
              <h4 class="card-title">First2 Last2</h4>
              <h5 class="card-subtitle mb-2 text-muted">
                <i class="fas fa-laptop-code"></i> Engineer
              </h5>
            </div>
            <div class="card-body bodyBackground">
              <p class="card-text">Employee ID: 234234</p>
              <a href="mailto:engineer2@company.com" class="card-link emailLink"
                >Email: engineer2@company.com</a
              >
              <div class="mt-3">
                <a
                  href="https://github.com/asfasdf"
                  class="btn btn-primary buttonFormat"
                  target="_blank"
                  >GitHub Profile</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col mt-3 mb-3" id="intern">
          <div class="card shadow h-100">
            <div class="card-header" id="internHeader">
              <h4 class="card-title">First3 Last3</h4>
              <h5 class="card-subtitle mb-2 text-muted">
                <i class="fas fa-graduation-cap"></i> Intern
              </h5>
            </div>
            <div class="card-body bodyBackground">
              <p class="card-text">Employee ID: 234324</p>
              <p class="card-text">School: School1</p>
              <a href="mailto:intern@company.com" class="card-link emailLink"
                >Email: intern@company.com</a
              >
            </div>
          </div>
        </div>

        <div class="col mt-3 mb-3" id="intern">
          <div class="card shadow h-100">
            <div class="card-header" id="internHeader">
              <h4 class="card-title">First4 Last4</h4>
              <h5 class="card-subtitle mb-2 text-muted">
                <i class="fas fa-graduation-cap"></i> Intern
              </h5>
            </div>
            <div class="card-body bodyBackground">
              <p class="card-text">Employee ID: 24545</p>
              <p class="card-text">School: School2</p>
              <a href="mailto:intern2@company.com" class="card-link emailLink"
                >Email: intern2@company.com</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--                                                            -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../index.js"></script>
  </body>
</html>
